@charset "utf-8";
/* CSS Document */
#wrap {
	position: relative;
	display: block;
	width: 1280px;
	height: auto;
}

#artcenter {
	position: relative;
	display: block;
	width: 1060px;
	margin: 0 auto;
}

#artcenter #bar1 {
	position: absolute;
	border: 1px solid #59150A;
	width: 350px;
	top: 47%;
	left: 0;
}

#artcenter h2 {
	position: relative;
	text-align: center; 
	font: bold 30px "khmer";
	color: #59150A;
	margin: 60px 0 20px;
}

#artcenter #bar2 {
	position: absolute;
	border: 1px solid #59150A;
	width: 350px;
	top: 47%;
	right: 0;
}

#desc_1 {
	position: relative;
	margin-top: 100px;
}

#desc_1 #textbox_desc1 {
	position: absolute;
	display: block;
	width: 500px;
	left: 555px;
	font: normal 16px "NGothic";
	color: #2e2e2e;
	text-align: justify;
}

#desc_1 #textbox_desc1 .desc_head {
	font: bold 30px "NGothic";
	color: #5f4123;
}

#desc_1:after {
	display: block;
	content: "";
	clear: both;
}

#desc_1 ul li {
	margin-bottom: 10px;
}

w#desc_1 ul li img{
	display: block;
	width: 450px;
}

#desc_1 ul li:nth-child(4) {
	position: absolute;
	bottom: -10px;
	left: 535px;
}

#desc_2 {
	position: relative;
	margin-top: 150px;
	margin-bottom: 250px;
}

#desc_2 #textbox_desc2 {
	position: absolute;
	display: block;
	top: 80px;
	width: 500px;
	font: normal 16px "NGothic";
	color: #2e2e2e;
	text-align: justify;
}

#desc_2 #textbox_desc2 .desc_head {
	font: bold 30px "NGothic";
	color: #5f4123;
}

#desc_2 ul {
	position: relative;
	left: 535px;
}


	
#desc_2 ul li {
	margin-bottom: 10px;
}

w#desc_1 ul li img{
	display: block;
	width: 450px;
}

#desc_1 ul li:nth-child(4) {
	position: absolute;
	bottom: -10px;
	left: 535px;
}




































